<% include header %>
 <div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="back-links">
    		<p><a href="/boutique">Boutique</a> / <a><%= produit.nom %></a></p>
    	    </div>
    		<div class="clear"></div>
    	</div>
    	<div class="section group">
				<div class="cont-desc span_1_of_2">
				  <div class="product-details">
					<div class="grid images_3_of_2">
						<div id="container">
						   <div id="products_example">
							   <div id="products">
								<div class="slides_container">
									<a href="#" target="_blank"><img src="/images/productslide-1.jpg" alt=" " /></a>
									<a href="#" target="_blank"><img src="/images/productslide-2.jpg" alt=" " /></a>
									<a href="#" target="_blank"><img src="/images/productslide-3.jpg" alt=" " /></a>
									<a href="#" target="_blank"><img src="/images/productslide-4.jpg" alt=" " /></a>
									<a href="#" target="_blank"><img src="/images/productslide-5.jpg" alt=" " /></a>
									<a href="#" target="_blank"><img src="/images/productslide-6.jpg" alt=" " /></a>
								</div>
								<ul class="pagination">
									<li><a href="#"><img src="/images/thumbnailslide-1.jpg" alt=" " /></a></li>
									<li><a href="#"><img src="/images/thumbnailslide-2.jpg" alt=" " /></a></li>
									<li><a href="#"><img src="/images/thumbnailslide-3.jpg" alt=" " /></a></li>
									<li><a href="#"><img src="/images/thumbnailslide-4.jpg" alt=" " /></a></li>
									<li><a href="#"><img src="/images/thumbnailslide-5.jpg" alt=" " /></a></li>
									<li><a href="#"><img src="/images/thumbnailslide-6.jpg" alt=" " /></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="desc span_3_of_2">
					<h2><%= produit.nom %></h2>
					<p><%= produit.description %></p>
					<div class="price">
						<p>Prix: <span><%= produit.prix %> Dhs</span></p>
					</div>
				<div class="share-desc">
					<div class="share">
						<p>Partager :</p>
            <div data-title="<%= produit.nom %>" class="partage"></div>
					</div>
					<div class="button"><span><a href="/commande">Passer la commande</a></span></div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		  </div>
		<div class="product_desc">
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>Contenu</li>
					<li>Compatibilité</li>
					<li>Details</li>
					<div class="clear"></div>
				</ul>
				<div class="resp-tabs-container">
					<div class="product-desc">
            <p><%= produit.contenu %></p>
          </div>
				 <div class="product-tags">
           <p><%= produit.compatibilite %></p>
         </div>
				<div class="review">
					<p><%= produit.details %></p>
				</div>
			</div>
		 </div>
	 </div>
	    <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>
   <div class="content_bottom">
    		<div class="heading">
    		<h3>Dans la même catégorie</h3>
    		</div>
    		<div class="see">
    			<p><a href="/boutique">Voir tous les produits</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
   <div class="section group">
     <% memeCategorie.forEach(function(produit){ %>
     <div class="grid_1_of_4 images_1_of_4">
        <a href="/produit/<%= produit.id %>"><img src="<%= produit.img %>" alt=""/></a>
        <h2><%= produit.nom %></h2>
       <div class="price-details">
            <div class="price-number">
           <p><span class="rupees"><%= produit.prix %> Dhs</span></p>
           </div>
                 <div class="add-cart">
               <h4><a href="/produit/<%= produit.id %>">Acheter</a></h4>
                </div>
            <div class="clear"></div>
       </div>
     </div>
     <% }); %>
			</div>
        </div>
				<div class="rightsidebar span_3_of_1">
					<h2>CATEGORIES</h2>
					<ul>
            <% categories.forEach(function(categorie){ %>
             <li><a href="/categorie/<%= categorie.name %>"><%= categorie.name %></a></li>
           <% }); %>
    				</ul>
 		</div>
 	</div>
    </div>
 </div>
<% include footer %>
